<html>

<head>

	<title>Data Board - {{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="css/categories.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/searchbar.js"></script>

</head>

<body>

	{{> headerbar}}

	<h1 class="category-title"> {{title}} </h1>

	<p class="category-description">{{category-description}}</p>

	{{#each games}}
	<div class="indv-game">
		<div class="game">
			<a href='{{viewURL}}'>
				<img class="gamepic" src="{{imageURL}}"></img>
			</a>
			<p class="gamedescription">
				<a class="gametitle" href='{{viewURL}}'>{{name}}</a>
				<br><br>
				{{category-description}}
			</p>
		</div>

		<button class="user-btn" onclick="window.location.href = '{{viewURL}}';">View</button>
		<button class="user-btn buy-game buy-btn" onclick="window.open('{{buyURL}}','_blank');">Buy</button>
		<p class="game-rating">Rating: {{rating}}</p>
	</div>
	{{/each}}


</body>

</html>